*.swp
[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad
*.mp3
*.wav
*.mesh
*.skel
*.dll
*.exe
*.rpa
*.anim
*.ttf
*.tiff
*.dds
*.mel
*.map
*.mal
*.mol
*.tpack
node_modules
*.ppk
*.key
*.crt
*.cert
*.pem
*.sublime-project
*.sublime-workspace
sftp-config.json